body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:lavender;
}

a {
  color: #00B7FF;
}

h1 {
  color:purple;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
.delete-form button {
  color: red;
}
li {
  list-style: none;
}